.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 33px;
}

@media (min-width: 720px) {
    .mennu {
        column-gap: 75px;
    }
}